<li>
  <div id={{muscleName}}-collapse class="collapsible-header">{{muscleName}}
    <span id="badge" class="new badge blue hide" data-badge-caption="exercises"></span>
  </div>
  <div class="collapsible-body grey lighten-2">
    <ul id={{muscleName}} class="collection">
    </ul>
  </div>
</li>