<nav class=" blue darken-2">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">
        <i class="material-icons">fitness_center</i>
        Overload Tracker</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/active_workout">Active Workout</a>
        </li>
        <li>
          <a href="/history">
            History</a>
        </li>
      </ul>
    </div>
  </nav>

  <ul id="nav-mobile" class="side-nav">
    <h4 class="center">Overload Tracker</h4>
    <li>
      <div class="divider"></div>
    </li>
    <li>
      <a href="/active_workout">
        <i class="material-icons">directions_run</i>Active Workout</a>
    </li>
    <li>
      <a href="/history">
        <i class="material-icons">history</i>History</a>
    </li>
  </ul>